<form>
  {{#each parts}}
    <fieldset>
      <h3>{{name}}: <em>{{getColor selected.color colorList}}</em></h3>
      {{#each colorList}}
      <input type="radio" name="{{../id}}" id="{{../id}}-{{name}}" value="{{name}}" 
          {{#compare name 'eq' ../selected.color}}checked{{/compare}}>
      <label style="background-color: #{{rgb}}" for="{{../id}}-{{name}}">
        <span>{{description}}</span>
      </label>
      {{/each}}
    </fieldset>
  {{/each}}
</form>